
body {
    font-family: 'Raleway';
    font-style: normal;
    background-color: black;
    padding: 20px 0px 0px 0px;
    margin: 0;
}
.header{
    margin: 0 px;
    top:0;
    left: 0;
    background-color: #fafcfd;
    height: 60 px;
    width: 100%;
  
}
.nav {
    display: flex;
    justify-content: space-between;
    
}
.diseno-logo{
    padding: 2.5px 25px;
    display: flex;
    width: 70px;
    height: 70px;  

}
.nav-menu{
    display: flex;  
    list-style: none;
    margin: 0px;
    position: relative;
    padding: 0px 0px;
}

.elementos-barra{
    margin: 0px 10px;
    font-size: 22px;
    word-spacing: 10px;
    line-height: 80px;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    
}



.intro{
    background-color: black;
    position: relative;
    padding: 20px 40px 20px;
    color: #fafcfd;
    font-size: 20px;
    line-height: 40px;
}

.footer{
    
    
    background-color: whitesmoke;
    color: black;
    font-family:'Raleway';
    font-weight: bold;
    width:2000px;
    height:100px;
    text-align: center;
    margin: 10px;
    font-size: 30px;
}
.piedepagina{
    width: 100%;
    background-color: #fafcfd;
    
}

.piedepagina .grupo-1{
 width: 100%;
 max-width: 1200px;
 margin: auto;
 display: grid;
 grid-template-columns: repeat(4,3fr);
 grid-gap: 50px;
 padding: 45px 0px;

}
.piedepagina .grupo-1 .box h2,a{
    text-decoration: none;
color: black;
margin-bottom: 45px;
 font-size: 20px;
 font-family:'Raleway';

}
.piedepagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
     font-size: 20px;
     font-family:'Raleway';
    }

.piedepagina .grupo-1 .RedSocial a{
       display: inline-block;
       text-decoration: none;
       width: 65px;
       height: 65px;
       line-height: 65px;
       color: black;
       margin-right: 10px;
       background-color:#fafcfd;
       text-align: center;
       transition:all 300ms ease;
           }

.piedepagina .grupo-1 .RedSocial a:hover{
    color: black;
}
.piedepagina .grupo2{
    background-color:#fafcfd;
    text-align: center;
    color: black;
}
.piedepagina .grupo2 small{
    font-size: 15px ;
}




.carousel{
    max-width: 5000px;
    margin: 0 auto;
    display: flex;
}
#imagen{
    width: 300%;
    height: 600px;
    background-size: cover;
    
}
.retroceder ,.avanzar{
    background-color: black;
    border: none;
    font-family:'Raleway';
}
.retroceder,.avanzar, button{
    color: white;
}
.controles,button {
    color: #000;
    border: none;
    font-family:'Raleway';
    text-align: center;
    background-position: center;
    }

.controles,button:hover{
        color: gray;
    }

    

    
    .DivForm{
        font-family:'Raleway';
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 10px;
    }
    .DivFormulario{
        font-family: 'Raleway';
        border-radius: 10px;
        height: 500px;
        width: 200px;
        padding: 10px;
        display: block;
        margin: auto;
        text-align: center;
        
    }
    .DivFormulario, .DivForm, h3 label{
        font-weight: bold;
        font-size: 20px;
        color:white;
    }
    .DivFormulario input{
        font-family: 'Raleway';
    }
    textarea{
        width: 175px;
        height: 80px;
        font-family:'Raleway';
     }
     .formdiv2 li{ 
        font-family: 'Raleway';
            color:white;
            font-size: 30px;
            list-style: none;
     }
     .formdiv2 h2{
        font-family:'Raleway';
        color:white;
        font-size: 30px;
        list-style: none;
     }
     div.formdiv2{
        text-align: center;
     }



     .conteiner{
        width: 100%;
        display: flex;
        max-width: 1300px;
    }




    .card{
        font-family:'Raleway';
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: whitesmoke;
        box-shadow: 0px  1px 10px  rgb(0,0,0,0.2);
        cursor: default;
        transition: all 400ms ease;
    
    }
    .card:hover{
        box-shadow: 5px  5px 20px  rgb(0,0,0,0.4);
        transform: translate(-2%);
    }
    
    .card img{
        width: 100%;
        height: 410px;
    
    }
    .card .contenido{
    padding: 15px;
    text-align: center;
    
    }
    .card .contenido p{
        line-height: 1.5;
        color:black;
    }
    .card .contenido h3{
        font-weight: 400;
        margin-bottom: 15px;
    }
    .card .contenido a{
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        color:#1abc9c;
        border: 1px solid #1abc9c;
        border-radius: 4px;
        transition: all 400ms ease;
    }
    .card .contenido a:hover{
    background: #1abc9c;
    color: whitesmoke;
    
    }